/* :root{
    --primary:rgb(42, 56, 112);
    --secondary:rgb(255, 255, 255);
} */

body{
    background-color: rgb(77, 75, 75);
}

                            /*--------------BEGIN HEADER--------------*/
a{
    text-align: center;
}
  
.nav:link{
    color:white;
    text-decoration: none;
}
.nav:visited{
    text-decoration: none;
    color:white;
}
.nav:hover{
    color:rgb(0, 212, 212);
}
.nav:active{
    text-decoration: none;
    color:orange;
}
header{
    /* STYLING */
    width:100%;
    height:30%;
    background-color:rgb(32, 32, 32);
    /* POSITIONING */
    display:flex;
    flex-direction: column;
    align-items: center;
}
#title{
    /* STYLING */
    border:black 5px solid;
    font-family:'Ubuntu', serif, sans-serif; /*Ubuntu font imported from google fonts (https://fonts.google.com/)*/
    background-color:rgb(32, 32, 32);
    /* POSITIONING */
    display:flex;
    position:fixed;
    justify-content:space-between;
    width: 100%;
    height:10vh;
}

header h1{
    /* STYLING */
    font-size: 3vmax;
    text-shadow:8px 8px 6px rgb(0, 0, 0);
    border-right:black 5px solid;
    color: white;
    background-color: grey;
    /* POSITIONING */
    display:flex;
    float:left;
    justify-content: center;
    align-items: center;
    padding:0 1vw;
}

nav{
    /* STYLING */
    color:white;
    font-size: 2.0vmax;
    background-color:rgb(32, 32, 32);
    /* POSITIONING */
    /* padding-right:2%; */
    display:flex;
    flex-wrap: wrap;
    flex-direction: column;
    /* align-items: center;"cross" (y) axis of navbar */

}

header li{
    display:inline;
    margin:0 5vw;
}

.bannerImage{
    border-bottom:black solid 5px;
    height: 20vh;
    width: 100%;
    margin-top:10vh;
    background-image: url("../images/bannerImage.jpg");
    background-size: cover;
    background-position: center;
}

                            /*--------------END HEADER--------------*/

main{
    /* STYLING */
    font-family:'Ubuntu', serif, sans-serif; /*Ubuntu font imported from google fonts (https://fonts.google.com/)*/
    /* POSITIONING */
    display:grid;
    grid-template-columns: 1fr;
    
}
main > section{
    /* STYLING */
    border:black solid 10px; 
    background-color:rgb(32, 32, 32);
    color:white;
    /* POSITIONING */
    display:grid;
    grid-template-columns: 16.6667% 83.3333%;
    grid-template-rows: 100%;
    padding:20px 0;
    margin: 2vmin;
    align-items: center;
}
main > section:active{/*FOR SOME REASON I LOSE THE SECTION H2 FORMATTING WHEN I REMOVE THIS*/
    border:black solid 10px;
}
main > section > h2{
    /* STYLING */
    color:black;
    font-size:4vmin;
    text-align: center;
    text-shadow:2px 2px 6px rgb(0, 0, 0);
    font-weight: bolder;
    background-color: cyan;
    border-top: black 3px solid;
    border-right: black 3px solid;
    border-bottom: black 3px solid; 
    /* POSITIONING */
    display:flex;
    justify-content: center;
    align-items: center;
    margin-right: 2vw;
    height:15vh;
}
main > section > p{
    display:flex;
    grid-template-columns: 2fr;
}
.sectionContent{
    /* list-style-type:square; */
    margin:0 5vw;
    font-size: 3vmin;
}



#aboutMeContainer{
    /* STYLING */
    border:black solid 10px; 
    background-color:rgb(32, 32, 32);
    color:white;
    /* POSITIONING */
    display:grid;
    grid-template-columns: 16.6667% 55.5555% 27.7777%;
    grid-template-rows: 100%;
    padding:20px 0;
    margin: 2vmin;
    align-items: start;
}

#selfie{
    align-self: ;
    height:50vmin;
    width:40vmin;
    padding:0;
}

#workContainer{
    /* STYLING */
    border:black solid 10px; 
    background-color:rgb(32, 32, 32);
    color:white;
    /* POSITIONING */
    display:grid;
    grid-template-columns: 16.6667% 83.3333%;
    grid-template-rows: 100%;
    padding:20px 0;
    margin: 2vmin;
    align-items: start;
}



#contactMeContainer{
    /* STYLING */
    border:black solid 10px; 
    background-color:rgb(32, 32, 32);
    color:white;
    /* POSITIONING */
    display:grid;
    grid-template-columns: 16.6667% 83.3333%;
    grid-template-rows: 100%;
    padding:20px 0;
    margin: 2vmin;
    align-items: start;
}



#resumeContainer{
    /* STYLING */
    border:black solid 10px; 
    background-color:rgb(32, 32, 32);
    color:white;
    /* POSITIONING */
    display:grid;
    grid-template-columns: 16.6667% 83.3333%;
    grid-template-rows: 100%;
    padding:20px 0;
    margin: 2vmin;
    align-items: start;
}



#workBoxes{
    padding:1vw;
    display:grid;
    grid-template-columns:1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-areas:"firstHomework firstHomework"
                        "a b"
                        "c d";
}

/*********START WORKBOX LINK PSEUDO-ELEMENT FORMATTING*********/

#firstHomework:link{
    color:white;
    text-decoration: none;
}
#firstHomework:visited{
    text-decoration: none;
    color:white;
}
#firstHomework:hover{
    color:white;
}
#firstHomework:active{
    text-decoration: none;
    color:white;
}
#a:link{
    color:white;
    text-decoration: none;
}
#a:visited{
    text-decoration: none;
    color:white;
}
#a:hover{
    color:white;
}
#a:active{
    text-decoration: none;
    color:white;
}
#b:link{
    color:white;
    text-decoration: none;
}
#b:visited{
    text-decoration: none;
    color:white;
}
#b:hover{
    color:white;
}
#b:active{
    text-decoration: none;
    color:white;
}
#c:link{
    color:white;
    text-decoration: none;
}
#c:visited{
    text-decoration: none;
    color:white;
}
#c:hover{
    color:white;
}
#c:active{
    text-decoration: none;
    color:white;
}
#d:link{
    color:white;
    text-decoration: none;
}
#d:visited{
    text-decoration: none;
    color:white;
}
#d:hover{
    color:white;
}
#d:active{
    text-decoration: none;
    color:white;
}

/*********END WORKBOX LINK PSEUDO-ELEMENT FORMATTING*********/

#workBoxes > #firstHomework{
    /* STYLING */
    background-image: url("../images/Homework-1-screenshot.jpg");
    background-size: cover;
    opacity: 0.3;
    border:black 10px solid;
    font-weight: bolder;
    font-size: 2vmin;
    /* POSITIONING */
    grid-area: firstHomework;
    display: flex;
    flex-wrap: wrap;
    height:30vh;
    width:auto;
    margin:5px;
    padding:2vh 2vw;
}
#workBoxes > #a{
    /* STYLING */
    background-image: url("../images/computerDesk.jpg");
    background-size: cover;
    opacity: 0.3;
    border:black 10px solid;
    font-weight: bolder;
    font-size: 2vmin;
    /* POSITIONING */
    grid-area: a;
    display: flex;
    flex-wrap: wrap;
    height:30vh;
    width:auto;
    margin:5px;
    padding:2vh 2vw;
}
#workBoxes > #b{
    /* STYLING */
    background-image: url("../images/largeLeafWhiteBackground.jpg");
    background-size: cover;
    opacity: 0.3;
    border:black 10px solid;
    color: grey;
    font-weight: bolder;
    font-size: 2vmin;
    /* POSITIONING */
    grid-area: b;
    display: flex;
    flex-wrap: wrap;
    height:30vh;
    width:auto;
    margin:5px;
    padding:2vh 2vw;
}
#workBoxes > #c{
    /* STYLING */
    background-image: url("../images/snowboarderOnMountain.jpg");
    background-size: cover;
    opacity: 0.3;
    border:black 10px solid;
    color: black;
    font-weight: bolder;
    font-size: 2vmin;
    /* POSITIONING */
    grid-area: c;
    display: flex;
    flex-wrap: wrap;
    height:30vh;
    width:auto;
    margin:5px;
    padding:2vh 2vw;
}
#workBoxes > #d{
    /* STYLING */
    background-image: url("../images/womanSittingOnRailCar.jpg");
    background-size: cover;
    opacity: 0.3;
    border:black 10px solid;
    color: black;
    font-weight: bolder;
    font-size: 2vmin;
    /* POSITIONING */
    grid-area: d;
    display: flex;
    flex-wrap: wrap;
    height:30vh;
    width:auto;
    border:black 10px solid;
    margin:5px;
    padding:2vh 2vw;
}
#workBoxes > #firstHomework:hover{
    opacity: 1;
    border:rgb(0, 202, 202) 10px solid;
}
#workBoxes > #a:hover{
    opacity: 1;
    border:rgb(0, 202, 202) 10px solid;
}
#workBoxes > #b:hover{
    opacity: 1;
    border:rgb(0, 202, 202) 10px solid;
}
#workBoxes > #c:hover{
    opacity: 1;
    border:rgb(0, 202, 202) 10px solid;
}
#workBoxes > #d:hover{
    opacity: 1;
    border:rgb(0, 202, 202) 10px solid;
}
#workBoxes > #firstHomework:active{
    opacity: 1;
    border:orange 10px solid;
}
#workBoxes > #a:active{
    opacity: 1;
    border:orange 10px solid;
}
#workBoxes > #b:active{
    opacity: 1;
    border:orange 10px solid;
}
#workBoxes > #c:active{
    opacity: 1;
    border:orange 10px solid;
}
#workBoxes > #d:active{
    opacity: 1;
    border:orange 10px solid;
}

@media screen and (max-width:768px) {
    #workBoxes{
        padding:1vw;
        display:grid;
        grid-template-columns:1fr;
        grid-template-rows: repeat(5) 1fr;
        grid-template-areas:"firstHomework "
                            "a" 
                            "b"
                            "c" 
                            "d";
    }
    #aboutMeContainer{
        /* POSITIONING */
        display:flex;
        /* grid-template-columns: 16.6667% 55.5555% 27.7777%; */
        flex-wrap: wrap;
        padding:20px 0;
        margin: 2vmin;
        align-items: start;
    }
    .sectionContent{

    }
}